
<h1 id="daylight-title">Time</h1>

<div id="daylight-app">
  <div class="row">
    <div class="box col-md-3 col-md-offset-1" onclick="changeTimeOfDay('yellow', this)">Morning</div>
    <div class="box col-md-3 col-md-offset-1" onclick="changeTimeOfDay('orange', this)">Afternoon</div>
    <div class="box col-md-3 col-md-offset-1" onclick="changeTimeOfDay('black', this)">Evening</div>
  </div>
</div>
 i